@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --primary-color: #fb8807;
  --secondary-color: #fba059;
  --thrid-color: #f4a36c;
  --light-black: rgba(0, 0, 0, 0.89);
  --white: #fafafa;
  --black: #000000;
  --grey: #aaa;
  --bacgroundBg: #ffffff;
}

.hero-section {
  background: url("/public/images/Newimages/hero-banner.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  transition: 0.3s ease-in-out;
}

.hero_sections ul li {
  margin-inline-start: -1.4rem;
}

.nav-link:hover {
  color: #fff !important;
}

.hero_sections .readReview {
  font-size: 12px;
  color: #000000;
  font-weight: 500;
  margin-left: 14px;
  text-decoration: underline;

}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to right, #FB8807 0%, #FB8807 40%, rgba(251, 136, 7, 0.7) 60%, rgba(251, 136, 7, 0) 100%);
  transition: 0.3s ease-in-out;
  width: 50%;
}

.footer-overlay {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.hero-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 254, 254);
  letter-spacing: 3px;
  position: relative;
  z-index: 1;
}

.main_Btn {
  padding: 16px 42px;
  color: #fff;
  background-color: #000000;
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  width: fit-content;
  transition: transform 0.3s ease-in-out;
}

.main_Btn:hover {
  transform: scale(1.1);
}

.hero-subtitle {
  font-size: 1.2rem;
  max-width: 800px;
  /* margin: auto; */
  color: rgb(251, 251, 251);
  margin-top: 120px;
}

/* Marquee Text (Background) */
.marquee-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.marquee {
  display: flex;
  gap: 40px;
  animation: marqueeAnimation 15s linear infinite;
}

.marquee span {
  font-size: 9rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
  letter-spacing: 5px;
  line-height: 1;
}

@keyframes marqueeAnimation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* ....................... Content Section ...................  */

.content-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: var(--bacgroundBg);
  color: #000000;
}

.content-section p {
  font-size: 1.5rem;
  line-height: 1.7em;
  margin-top: 0;
  font-weight: 400;
  letter-spacing: -0.2px;
}

/* .................. Slider Section ................. */
/* .styles_slider .swiper {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 50px;
  transition: all 0.3s ease-in-out;

} */

.styles_slider .swiper {
  width: 100%;
  height: 100%;
}

.styles_slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.styles_slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.star {
  color: rgb(255, 170, 0);
}

.bg-transit {
  background: #FB8807;
  margin: 0px 100px !important;
}

.slider_bg {
  background: #F7E5C1;
  width: 96px;
  height: 96px;
  position: relative;
  border-radius: 50%;

}

.slider_bg img {
  position: absolute;
  right: -24px;
  width: 79px;
}

p.slider_content {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #FB8807;
}

.second_slider {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000 !important;
}

/* .................. Gallery .............. */
.Gallery_section,
.service_section,
.review_section {
  background-color: #EBF3F5;
  padding-bottom: 75px;
}

.Gallery_section,
.service_section {
  margin: 70px auto;
}

.Gallery_section .gallery_heading h2,
.service_section .gallery_heading,
.review_section .gallery_heading h2 {
  font-size: 45px;
  font-weight: 600;
  color: #FB8807;
  text-align: center;
  padding: 20px;
  margin-top: 64px;
}

.gallery_heading p {
  font-size: 16px;
  color: #555555;
  text-align: center;
}

.service_section .heading h2,
.search_result .heading h2 {
  font-size: 48px;
  margin-bottom: 30px;
  line-height: 64px;
  letter-spacing: .2em;
  text-align: center;
}

.de-separator {
  position: relative;
  border-top: 1px solid var(--primary-color);
  width: 277px;
  clear: both;
  margin: 0 auto;
  margin-bottom: 40px;
}

.de-separator:before {
  background: none repeat scroll 0% 0% var(--primary-color);
  content: "";
  height: 10px;
  left: 0%;
  margin: -5px auto auto -5px;
  position: absolute;
  transform: rotate(-45deg);
  width: 10px;
}

.de-separator:after {
  background: none repeat scroll 0% 0% var(--primary-color);
  content: "";
  height: 10px;
  right: 0%;
  margin: -5px auto auto -5px;
  position: absolute;
  transform: rotate(-45deg);
  width: 10px;
}


.Gallery_section .dih-title-wrap {
  z-index: 2;
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: opacity 0.5s ease-in-out;
}

.Gallery_section .dih-title {
  font-family: var(--title-font);
  letter-spacing: .25rem;
  opacity: 0;
  font-size: 16px;
  z-index: 2;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #070707;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.de-image-hover {
  position: relative;
  transition: box-shadow 0.5s ease-in-out;
  outline: none;
  overflow: hidden;
}

.de-image-hover:hover {
  box-shadow: 5px 25px 15px 0px rgba(156, 51, 51, 0.1);
}

.Gallery_section .de-image-hover:hover .dih-title {
  opacity: 1;
  transform: scale(1.2);
}

.de-image-hover:hover .dih-overlay {
  opacity: 0.8;
}

.Gallery_section .dih-overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(251 160 89 / 63%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  left: 0;
}

.dih-overlay {
  background: var(--primary-color);
}

/* Adding visibility effect */
.dih-title-wrap.visible .dih-title {
  opacity: 1;
  transform: scale(1.2);
}

.dih-overlay.visible {
  opacity: 0.8;
}

/* ..................... About Content .............. */
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight
}

.right_content p {
  font-size: 16px;
  padding: 0px 17px 20px 20px;

}

.right_content .fadeInRight {
  padding: 36px 17px 20px 20px;
  line-height: 49px;

}

.right_content h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 64px;
  letter-spacing: .2em;
}

.right_content .id-color {
  color: var(--primary-color);
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #000000;
  border-radius: 1px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(6, 6, 6, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0px 17px 20px 20px;

  align-items: center;
}

.btn-8 {
  background-color: #fb8807;
  background-image: linear-gradient(315deg, #f99b2f 0%, #fb8807 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: var(--secondary-color);
  transition: all 0.3s ease;
}

.btn-8:before {
  height: 0%;
  width: 2px;
}

.btn-8:after {
  width: 0%;
  height: 2px;
}

.btn-8:hover:before {
  height: 100%;
}

.btn-8:hover:after {
  width: 100%;
}

.btn-8:hover {
  background: transparent;
}

.btn-8 span:hover {
  color: white;
  background-color: black;
}

.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: var(--secondary-color);
  transition: all 0.3s ease;
}

.btn-8 span:before {
  width: 2px;
  height: 0%;
}

.btn-8 span:after {
  height: 2px;
  width: 0%;
}

.btn-8 span:hover:before {
  height: 100%;
}

.btn-8 span:hover:after {
  width: 100%;
}

/* ................... Service Box .............. */
.servicesBx {
  position: relative;
  margin: 60px 0;
  padding: 16px 20px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-color: #fff;
  height: 75%;
}

.servicesBx:hover {
  transform: translateY(-16px);
  border: 1px solid var(--primary-color);
}

.servicesBx .service_title h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #060606;
  margin: 16px;
}

.servicesBx .services_content p {
  font-size: 14px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.servicesBx .bookBtn {
  margin: 44px 0px;
}

.servicesBx .bookBtn a {
  margin: 0px auto !important;
}

/* ............... Services Category .............. */
.switchBtn {
  display: flex;
  margin: 30px auto 0px;
  width: max-content;
}

.switchBtn #toggle_checkbox {
  display: none;
}

.switchBtn label {
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  width: 140px;
  height: 50px;
  margin: 0 auto;
  transform: translateY(-50%);
  cursor: pointer;
  margin-top: 35px;
}

.switchBtn label:before {
  top: 8px;
  left: 8px;
  width: 33px;
  height: 33px;
  border: 3px solid red;
}

.switchBtn label:after {
  top: 0;
  right: 0;
  width: 140px;
  height: 49px;
  border: 3px solid #143240;
}

.switchBtn label:before,
.switchBtn label:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-sizing: border-box;
  transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width,
    0.5s ease height, 0.5s ease border-color;
}

.switchBtn #toggle_checkbox:checked+label:before {
  top: 0;
  left: 0;
  width: 140px;
  height: 49px;
  border-color: var(--thrid-color);
}

.third-color {
  color: #FB8807;
  font-weight: 600;
}

.image-shadow {
  box-shadow: var(--thrid-color);
}

.switchBtn #toggle_checkbox:checked+label:after {
  top: 8px;
  right: 8px;
  width: 33px;
  height: 33px;
  border-color: var(--primary-color);
}

.hr-bar {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  background-color: #e0e0e0;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.search_result .service_title span {
  font-size: 16px;
  color: #070707;
  font-weight: 400;
  display: block;
  margin-top: 10px;
}

.sreach_input label {
  font-size: 14px;
}

.sreach_input input {
  font-size: 14px;
}

.search_result .service_title h3 {
  font-size: 24px;
  font-weight: 500;
  color: #090909;
}

.service_title {
  margin-top: 70px;
  color: var(--thrid-color);
}

.cart_card {
  position: relative;
}

.cart_card img {
  padding: 20px;
  border-radius: 45px;
}

.cart_card p.card-text .text-body-secondary {
  font-size: 17px;
}

.cart_card p.card-text {
  line-height: 16px;
  font-size: 14px;
}

.cs-main__card-box {
  display: block;
  text-decoration: none;
  color: inherit;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  transition: transform 0.2s;
  overflow: hidden;
}

/* .cs-main__card-box:hover {
    transform: scale(1.02);
  } */

.cs-main__card-img {
  position: relative;

}

.rgba-shadow {
  box-shadow: rgba(195, 62, 13, 0.7);
}

.cs-main__card-rating-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(252, 252, 252, 0.7);
  color: rgb(6, 6, 6);
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
}

.cs-main__card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.cs-main__card-location {
  display: flex;
  align-items: baseline;
  font-size: 14px;
  margin-top: 5px;
  color: gray;
  gap: 3px;
}

.cs-main__card-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  gap: 15px;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.serviceStarting-cont {
  color: #010101;
}

.icon {
  margin-right: 5px;
}

.cs-main__card-serviceStarting {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}

.cs-main__card-timePrice {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

.cs-main__card-list-item {
  color: #000;
}

p.cs-main__card-location-text.text-truncate {
  color: #010101;
  font-size: 16px;
  margin-bottom: 5px;
}

/* .................... Review Section ............... */
.review_section {
  margin-top: 70px;
}

.review_section .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.review_section .review_text {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: anchor-center;
  gap: 20px;
  top: 10rem;
}

.review_section .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #040404;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review_section .swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media (max-width:768px) {
  .review_section .swiper-slide img {
    height: 100%;
  }

  .review_text p {
    font-size: 12px;
  }
}

/* ................ Marquee Section ............ */
.marquee-container-bottom {
  margin-top: 70px;
  position: relative;
  padding-top: 110px;
}

.marquee-container-bottom .marquee-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}


.marquee-container-bottom .marquees span {
  font-size: 9rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: rgb(195, 62, 13);
  letter-spacing: 5px;
  line-height: 1;
}

.marquee-container-bottom.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background: #000;
  padding: 10px 0;
}

.marquee-container-bottom .marquee-content {
  display: flex;
  gap: 50px;
  animation: marqueeScroll 20s linear infinite;
  width: max-content;
}

@keyframes marqueeScroll {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.marquee-content .d-item-block {
  width: 80px;
  height: 3px;
  margin: 0 20px;
  margin-right: 60px;
  padding: 0px;
  border-radius: 50%;
  display: inline-block;
  transform: translateY(-50px);
  background: var(--primary-color);
}

/* .......................... LOGO Section ........................... */
.logo_section {
  margin-top: 70px;
  margin-bottom: 70px;
}

.logo_section .centerLogo {
  display: flex;
  justify-content: center;
}

.logo_section .startLine {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.logo_section .startLine hr {
  width: 100%;
}

/* .......................... Salon Deatils .......................... */
.Salondetails-section {
  background: url("/public/images/SalonDetails.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(9, 9, 9);
  text-align: center;
  transition: 0.3s ease-in-out;
}

.Salondetails-section .hero-subtitle svg {
  color: var(--primary-color);
}

.social-icon svg {
  color: var(--primary-color);
}

.salon_description .salon_about h2 {
  font-size: 20px;
  font-weight: 600;
}

.salon_description .salon_about p {
  font-size: 14px;
  font-weight: 500;
}

.salon_description .weekly-opening span {
  font-size: 12px;
}

.salon_description .weekly-opening h4 {
  font-size: 20px !important;
}

.salon_description .salon_contact h3 {
  font-size: 20px;
  font-weight: 500;
}

.salon_description .salon_contact a {
  color: #060606;
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 8px 20px;
  margin: 20px 0px;
  border-radius: 30px;
}

.salon_description .salon_contact p {
  font-size: 14px;
  margin: 10px 0px;
}

.social-title {
  font-size: 20px;
  text-align: center;
}

.salon_name h2,
.aboutSalon h3 {
  font-size: 20px;
  font-weight: 500;
}

.salon_name p,
.aboutSalon p {
  font-size: 13px;
  color: #aaa;
}

.salon_description .right_side h2 {
  font-size: 20px;
  font-weight: 600;
}

.salon_description .right_side h2 span {
  font-size: 11px;
  font-weight: 400;
  color: #aaa;
}

.salon-tabs .nav-tabs .nav-link.active {
  color: #050505;
  background: rgba(242, 163, 135, 0.7);
}

.salon-tabs .nav-tabs .nav-link {
  font-size: 14px;
  color: #080808;
}

.salon-tabs .nav-tabs .nav-link:hover {
  isolation: isolate;
  color: var(--primary-color) !important;
}

.salon_description .tab-content h4 {
  font-size: 16px;
}

.service_category h4 {
  font-size: 16px;
}

.facilities_section ul {
  padding-left: 0px;
  list-style-type: none;
  border-top: 1px dashed;
  margin: 20px 0px;
}

.facilities_section ul li {
  line-height: 20px;
  margin-top: 25px;
}

.facilities_section ul li a {
  text-decoration: none;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, var(--primary-color) 0%, var(--secondary-color) 46%, #FFCC70 100%);
  padding: 8px 16px;
  border-radius: 20px;
  color: #050505;
}

.salonservices {
  border-right: 1px dashed;
}

.Service_tab h5 {
  font-size: 16px;
  font-weight: 600;
}

.Service_tab p {
  font-size: 14px;
  color: #aaa !important;
}

.bg-rating {
  background-color: var(--primary-color) !important;
}

/* ...................... Book Now ..................... */
.bookAppoinment-section {
  background: url("/public/images/2149229743.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(15, 15, 15);
  text-align: center;
  transition: 0.3s ease-in-out;
}

.content-section .bg-brown {
  background-color: var(--primary-color);
  margin-bottom: 16px;
}

.additional_services ul li {
  line-height: 30px;
}

.content-section .bg-dark {
  background-color: #d64d4d;
}

.content-section .border-brown {
  border: 1px solid #b37a50;
}

.vertical {
  width: 2px;
  height: 170px;
  background-color: var(--primary-color);
  border: none;
}

.bookingfrm input,
.bookingfrm textarea {
  background: white;
  border: 1px solid #7a7979;
  padding: 13px 30px;
  color: #060606;
}

.bookingfrm {
  position: relative;
  margin: 60px 0;
  padding: 30px 50px 50px;
  box-shadow: var(--thrid-color) 0px 3px 8px;
  border-radius: 5px;
  transition: all 0.3sease;
  padding: 40px;
}

/* ........................... About Section ..................... */
.about-section {
  background: url("/public/images/9052.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(11, 11, 11);
  text-align: center;
  transition: 0.3s ease-in-out;
}

.companydetails h2 {
  font-size: 20px;
  font-weight: 500;
}

.companydetails p {
  font-size: 16px;
}

.about_mission p {
  font-size: 16px;
}

.aboutBG {
  background: url("/public/images/rating-3.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(10, 10, 10);
  text-align: center;
  transition: 0.3s ease-in-out;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutBG .hstack {
  position: relative;
  z-index: 9;
  color: white
}

.aboutBG input,
.aboutBG textarea {
  background: #ffffff00;
  border: 1px solid #060606;
  padding: 13px 30px;
  color: #0a0a0a;
}

.aboutBG .hero-overlay {
  /* background:var(--secondary-color); */
  opacity: 0.9;
}

li.cities-lists a {
  text-decoration: none;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, var(--primary-color) 0%, var(--secondary-color) 46%, #FFCC70 100%);
  padding: 8px 16px;
  border-radius: 20px;
  color: #0c0c0c;
}

/* ....................... Loder Css .................. */
.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FF3D00;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: #080808;
  transform: rotate(0deg) translate(30px);
  animation: rotate 1s ease infinite;
}

.loader:after {
  animation-delay: 0.5s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg) translate(30px);
  }
}

/* ....................... Services Section ...................... */
.services-section {
  background: url("/public/images/2147737001.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(8, 8, 8);
  text-align: center;
  transition: 0.3s ease-in-out;
}

.search_result .btn-sm {
  height: fit-content;
}

.search_result .top_ratingBtn {
  background-color: var(--primary-color) !important;
  border: none;
  padding: 6px 25px;
}

.search_result .dealsBx {
  background: #070707;
  color: #f3f1f1;
  display: flex;
  align-items: anchor-center;
  justify-content: center;
  padding: 8px 20px;
  width: fit-content;
  gap: 7px;
  border-radius: 34px;
  border: 2px solid var(--primary-color);
  text-decoration: none;
}

.search_result .dealsBx svg {
  color: var(--primary-color);
  font-size: 26px;
}

.search_result .dealsBx.active {
  background-color: var(--secondary-color);
  border: 2px solid var(--thrid-color);
  color: #0d0d0d;
}

.search_result .dealsBx.active svg {
  color: #050505;
}

.service_section .service-title {
  font-weight: bold;
  font-size: 24px;
}

.service-card {
  position: relative;
  padding: 16px 20px;
  text-align: center;
  box-shadow: var(--thrid-color) 0px 3px 8px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  display: block;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.sideservices {
  position: relative;
}

.small,
small {
  font-size: 11px !important;
  font-weight: 500;
  margin-top: 10px;
}

.sideservices:before {
  content: '';
  position: absolute;
  height: -webkit-fill-available;
  background: #e1e1e1;
  width: 2px;
  right: -6px;
  border-radius: 30px;
}

.service_section .service-icon {
  font-size: 20px;
  color: #f8f5f5;
  margin-bottom: 15px;
}

.service-icon {
  background: rgba(195, 62, 13, 0.7);
  border-radius: 50%;
}

h5.service-title.mt-4 {
  font-size: 16px;
  font-weight: 500;
}

p.service-text {
  font-size: 14px;
  font-weight: 500;
}

.sidecontent .contentImg {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* ........................... Contact Us ..................... */
.contact-section {
  background: url("/public/images/2971.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(5, 5, 5);
  text-align: center;
  transition: 0.3s ease-in-out;
}

.main_banner {
  background: url("/public/images/main-banner.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(8, 8, 8);
  text-align: center;
  transition: 0.3s ease-in-out;
}

.de-gradient-edge-bottom {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.dark-scheme .de-gradient-edge-bottom {
  background: linear-gradient(0deg, rgb(76 68 68) 0%, var(--thrid-color) 100%);
}

.contact-section .contact-item {
  text-align: center;
  margin: 20px 0;
}

.contact-item .icon-box {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 15px;
  border-radius: 34px;
}

.contact-item .icon-box i {
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.contact-item h5 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

.contact-item p a {
  font-size: 16px;
  margin: 5px 0;
  text-decoration: none;
  color: #0c0b0b;
}

.contact-item .highlight {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 16px;
}

.contactus .sidecontent h2 {
  font-size: 25px;
  font-weight: 600;
}

.contactus .sidecontent p {
  font-size: 18px;
  margin-top: 20px;
}

/* ........................... Blog ......................... */
.blog-section {
  background: url("/public/images/blogBg.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(9, 9, 9);
  text-align: center;
  transition: 0.3s ease-in-out;
}

.blog_Section .blogBx .blog_date .b_month {
  font-size: 24px;
  letter-spacing: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  border-bottom: 2px solid var(--thrid-color);
  width: fit-content;
}

.blog_Section .blogBx .blog_date .b_date {
  font-size: 60px;
  letter-spacing: .1rem;
  padding-left: .3rem;
}

.blog_content p {
  font-size: 20px;
  margin-top: 30px;
}

/* ....................... Hair Cut Css ......................... */
.haircut-section {
  background: url("/public/images/4433 (1).jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(7, 7, 7);
  text-align: center;
  transition: 0.3s ease-in-out;
}

/* ......................... Terms And Condition ................... */
.termscondition-section {
  background: url("/public/images/terms-01.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(6, 6, 6);
  text-align: center;
  transition: 0.3s ease-in-out;
}

.definition_list ul li {
  display: flex;
  line-height: 40px;
}

.definition_list ul {
  padding-left: 0px;
}

.dropdown-toggle::after {
  border: none !important;
}

/* ..................... Privacy Policy ................... */
.privacy-section {
  background: url("/public/images/privacy.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(9, 8, 8);
  text-align: center;
  transition: 0.3s ease-in-out;
}

/* ........................... CancellationRefund ...................... */
.cancellationRefund-section {
  background: url("/public/images/refund.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(10, 10, 10);
  text-align: center;
  transition: 0.3s ease-in-out;
}

/* .......................... Men Services ...................... */
.menservices-section {
  background: url("/public/images/20710.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  transition: 0.3s ease-in-out;
}

/* ........................ Women Services ........................... */
.womenservices-section {
  background: url("/public/images/gallery/woman.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(3, 3, 3);
  text-align: center;
  transition: 0.3s ease-in-out;
}

/* ...................... Media quary ....................... */
@media (max-width: 768px) {
  .bcw-nearby__search .form-control {
    border-radius: 43px !important;
    margin: 10px 20px;
  }

  .bcw-nearby__search .form-select {
    border-radius: 43px !important;

  }

  .hero-banner {
    padding-top: 70px;
  }

  .Gallery_section .gallery_heading {
    width: 100% !important;
  }

  .Gallery_section .gallery_heading h2,
  .service_section .gallery_heading h2,
  .search_result .gallery_heading h2 {
    font-size: 30px;
  }

  .hero-section {
    height: auto !important;
    padding-bottom: 50px;
  }

  .select_saloncategorys {
    margin-right: 14px;
  }

  .hr-bar {
    display: none;
  }

  .hero-title {
    margin-top: 100px;
  }
}

.service-toggle::after {
  display: none !important;
}

.service-menu.show {
  display: block;
  background-color: rgba(234, 107, 61, 0.7);
}

.slotBookBtn .service-item:focus,
.service-item:hover {
  background-color: transparent !important;
  border: none !important;
}

.chair-icon {
  height: 30px;
  width: 30px;
}

.service-menu.show {
  min-width: 100%;
}




.dpbook-toggle::after {
  display: none !important;
}

/* .dpbook-menu.show {
    display: block;
     background-color:rgba(234, 107, 61, 0.7);
  } */
.dpbook-menu {
  position: relative !important;
  /* Ensures proper positioning */
  width: 100% !important;
  /* Matches button width */
  max-width: 600px;
  /* Limits excessive width */
  margin: 0 auto;
}



.slotBookBtn .dpbook-item:focus,
.dpbook-item:hover {
  background-color: transparent !important;
  border: none !important;
}





.near-by {
  background: rgba(242, 163, 135, 0.7);
}

/* White placeholders */
.placeholder-white::placeholder {
  color: white !important;
  opacity: 1;
  /* Ensure full visibility */
}

/* White borders */
.border-white {
  border: 2px solid white !important;
}



/* Container with wrapping */
.cities-container {
  display: flex;
  flex-wrap: wrap;
  /* Allows items to wrap */
  justify-content: center;
  /* Center items on larger screens */
  gap: 15px;
  /* Adds spacing between items */
  padding: 0;
  list-style: none;
}

/* Individual city item */
.cities-lists {
  flex: 1 1 calc(25% - 30px);
  /* Adjusts based on screen size */
  max-width: 100%;
  min-width: 150px;
  /* Prevents items from getting too small */
  text-align: center;
}

/* Links styling */
.cities-lists a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #A53E00;
  /* Your brand color */
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

/* Hover effect */
.cities-lists a:hover {
  background-color: #F37724;
  /* Lighter shade */
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .cities-lists {
    flex: 1 1 calc(33% - 20px);
    /* 3 items per row on medium screens */
  }
}

@media (max-width: 768px) {
  .cities-lists {
    flex: 1 1 calc(50% - 15px);
    /* 2 items per row on small screens */
  }

  .right_content h2 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .cities-lists {
    flex: 1 1 100%;
    /* 1 item per row on extra small screens */
  }

  .hero-title {
    font-size: 1rem;
  }

  .hero-subtitle {
    font-size: 12px;
  }

  .main_Btn {
    font-size: 11px;
    padding: 6px 16px;
  }
}


.book-checkbox {
  font-weight: 300;
}

#servicecategory {
  border-radius: 0;
  /* Removes rounded corners */
}

.form-control:focus {
  box-shadow: none !important;
}
/* ..................... Profile Css ................. */
.Profile-section {
  background: url("/public/images/2971.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  color: rgb(5, 5, 5);
  text-align: center;
  transition: 0.3s ease-in-out;
}